---
- hosts: localhost
  gather_facts: false
#  become: true
  tasks:
  - name: Copy file
    copy:
      src: hello.txt
      dest: /home/dev/
      owner: dev
      group: dev
      mode: '0644' 
  - name: Make Work Directory
    file:
      path: /home/dev/hello
      owner: dev
      group: dev
      mode: 0755
